<link rel="stylesheet" href="assets/style/style.php"/>
<section>

  <h1>INFOBLOG</h1>

  <h2>Articles</h2>

  <h3>Catégories</h3>

  <h4>Article 1</h4>

  <h5>Oui</h5>

  <h6>Non</h6>
  
</section>

<main>

<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
  form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a
  passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the
  Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
  generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence
  structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from
  repetition, injected humour, or non-characteristic words etc.
</p>

<ul>
  <li>YES</li>
  <li>NO</li>
  <li>YES</li>
  <li>NO</li>
  <li>YES</li>
</ul>

<img src="https://www.sciencesetavenir.fr/assets/img/2019/04/10/cover-r4x3w1000-5cadebdd93968-trou-noir-galaxie.jpg" alt="image" />

<form>
  <div class="form">
    <label for="name">Enter your name: </label>
    <input type="text" name="name" id="name" required>
  </div>
  <div class="form">
    <label for="email">Enter your email: </label>
    <input type="email" name="email" id="email" required>
  </div>
  <div class="form">
    <input type="submit" value="Subscribe!">
  </div>
</form>

<select name="pets" id="pet-select">
  <option value="">--Please choose an option--</option>
  <option value="dog">Dog</option>
  <option value="cat">Cat</option>
  <option value="hamster">Hamster</option>
  <option value="parrot">Parrot</option>
  <option value="spider">Spider</option>
  <option value="goldfish">Goldfish</option>
</select>

<table>
  <thead>
    <tr>
      <th colspan="2">The table header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>The table body</td>
      <td>with two columns</td>
    </tr>
  </tbody>
</table>

</main>

<section>

  <i><u><b>CONTENU</b></u></i>

</section>