<head>
    <meta charset="utf-8" />
    <title>Test</title>
    <script src="assets/js/jquery.min.js"></script>
</head>

<main>
    <form class="form connexion"
          id = "connectForm"
          name="connectForm"
          method="get"
          onsubmit="return validateForm()"
          action="connexion/connectUser.php"
    >

        <label for="login" class="label connexion-1">Login</label>
        <input type="text" id="login" name="login" class="input connexion-1"
               autocomplete="username" placeholder="login..." required />
        <span id="loginError"></span>

        <label for="password" class="label connexion-2">Mot de passe</label>
        <input type="password" name="password" id="password" class="input connexion-2"
               autocomplete="current-password" placeholder="mot de passe..." required />
        <span id="passwordError"></span>

        <button type="submit" class="button connexion" disabled="disabled">Se connecter</button>

    </form>
</main>
<script src="assets/js/checkConnect.js"></script>
<script>

    ($(document).ready(function(){
        $('#connectForm input').blur(function()
        {
            if( !$("#login").val() ) {
                $("#loginError").html('<p id=\'loginError\' class=\'alert\'>Login manquant !</p>');
            }else{
                $("#loginError").html('<span id="loginError"></span>');
            }

            if( !$("#password").val() ) {
                $("#passwordError").html('<p id=\'passwordError\' class=\'alert\'>Mot de passe manquant !</p>');
            }else{
                $("#passwordError").html('<span id="passwordError"></span>');
            }

            if (!$("#login").val() || !$("#password").val()){
                $(".button").prop('disabled', true);
            }else{
                $(".button").prop('disabled', false);
            }
        });
    }));

</script>
