#articles {
    padding-left: 60px;
    padding-right: 60px;
}

#articles tbody td {
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 10px 20px;
}

.article-list {
    padding: 8px 0px;
    border-bottom: 1px solid black;
}